* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(-45deg, rgba(255, 102, 0, 0.6), rgba(180, 182, 67, 0.8));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

input, button {
  font-size: 16px;
  font-family: inherit;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  padding-top: 20px;
}

.text-muted {
  color: #272b2dff;
  font-size: 0.9rem;
  margin-top: 5px;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, rgba(43,81,112,1), rgba(82, 113, 130, 1));
  border-radius: 5px;
  margin: 4px 10px 8px 10px;
}

.book-icon {
  height: 30px;
  width: 28px;
  padding-top: 4px;
  background-size: cover;
  filter: invert(100%);
  margin: 0 auto;
}

.add-icon, .search-icon, .agree-icon, .disagree-icon {
  height: 20px;
  width: 18px;
  padding-top: 4px;
  background-size: cover;
  filter: invert(100%);
  margin: 0 auto;
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

.col {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 300px;
}

header {
  display: block;
}

.header-wrap {
  font-size: 20px;
  color: white;
  text-align: center;
  background: linear-gradient(-45deg, rgba(255, 94, 0, 6), rgba(170, 0, 0, 0.8));
  padding: 30px;
}

.header-wrap p {
  font-size: 15px;
  letter-spacing: 3px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: linear-gradient(-45deg, rgba(143, 83, 255), rgba(255, 0, 149));
  padding: 5px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.article-1, .article-2, .article-3, .article-4 {
  width: 100%;
  min-height: 520px;
  height: auto;
  text-align: justify;
  justify-content: space-between;
  border: 5px solid;
  border-radius: 5px;
  border-image: linear-gradient(45deg, #919191, #00c8eb, #4ee717, #111111) 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.article-1, .article-2, .article-3, .article-4 {
  flex: 1;
}

.article-1 > section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-1 > section > form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 10px;
}

.article-1 > section > form > .input {
  margin: 8px 0;
  margin-bottom: 20px;
}

.article-1 > section > form > .input > label {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.article-1 > section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.article-1 > section > form > .input > small {
  color: red;
}

.article-1 > section > form > .input > .error-display {
  display: none;
}

.error {
  border: 2px solid red;
}

.article-1 > section > form > .form-actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-1 > section > form > .form-actions > .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.article-1 > section > form > .form-actions > button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(-45deg, rgba(43, 81, 112), rgb(0, 61, 192));
  cursor: pointer;
}

.article-1 > section > form > .form-actions > button:hover {
  border: 2px rgb(0, 225, 255) solid;
}

.article-2 > section,
.article-4 > section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-2 > section > label,
.article-4 > section > label {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.book_list {
  width: 100%;
  padding: 16px;
}

.book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_item h3, .book_item p {
  margin: 8px 0;
  overflow: hidden;
  word-wrap: break-word;
}

.book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_item > .action > button.green {
  background: linear-gradient(-45deg, rgba(43, 81, 112), rgb(7, 146, 65));
  border: 2px black solid;
  color: white;
  margin-top: 0;
  font-weight: bold;
}

.green:hover {
  border: 2px rgb(0, 255, 42) solid;
}

.book_item > .action > button.red {
  background: linear-gradient(-45deg, rgba(43, 81, 112), rgb(221, 32, 11));
  border: 2px black solid;
  color: white;
  margin-top: 0;
  font-weight: bold;
}

.red:hover {
  border: 2px rgb(218, 15, 0) solid;
}

.p-empty {
  font-size: 14px;
  color: white;
  text-align: center;
  margin: 10px 0;
  padding: 26px;
  background: linear-gradient(-45deg, rgba(43,81,112,1), rgb(221,32,11));
  border-radius: 5px;
  line-height: 2;
}

.article-3 > section > form {
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
  width: 100%;
  margin-bottom: -20px;
  padding: 16px;
}

.article-3 > section > form > label {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-right: 10px;
  margin-top: 5px;
}

.article-3 > section > form > input {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.article-3 > section > form > button {
  display: block;
  width: 100%;
  padding: 8px;
  background: linear-gradient(-45deg, rgba(43, 81, 112), rgb(0, 61, 192));
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
  display: block;
  cursor: pointer;
  margin-top: 5px;
  font-weight: bold;
}

.article-3 > section > form > button:hover {
  border: 2px rgb(0, 225, 255) solid;
}

.ket > span {
  line-height: 2;
  font-size: 14px;
  border-radius: 40px;
  padding: 1px 8px;
  display: inline-block;
  color: white;
  margin-top: 8px;
}

.ket > span.sudah {
  background: linear-gradient(-45deg, rgba(43,81,112,1), rgb(7,146,65));
}

.ket > span.belum {
  background: linear-gradient(-45deg, rgba(43,81,112,1), rgb(221,32,11));
}

.search {
  margin-bottom: 15px;
  padding: 10px;
  background: linear-gradient(-45deg, rgba(45, 122, 255, 1), rgba(43, 81, 112));
  font-size: 14px;
  border-radius: 5px;
  color: white;
  text-align: left;
}

.not-found {
  padding: 10px;
  background: linear-gradient(-45deg, rgba(43,81,112,1), rgb(221,32,11));
  font-size: 14px;
  border-radius: 5px;
  color: white;
}

footer {
  position: relative;
  flex-shrink: 0;
  padding: 20px;
  color: white;
  background: linear-gradient(-45deg, rgba(255, 94, 0, 0.6), rgba(170, 0, 0, 0.8));
  font-weight: bold;
  line-height: 2;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-left {
  text-align: center;
  flex: 1;
}

.footer-right {
  flex: none;
  margin-left: auto;
}

.scrollup {
  background-color: #ff7800;
  height: 52px;
  width: 52px;
  border-radius: 15px;
  cursor: pointer;
}

.scrollup:hover {
  border: solid 2px black;
}

@media screen and (max-width: 912px) {
  .article-3 > section > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .article-3 > section > form > input {
    line-height: 2;
  }

  .green, .red {
    width: 100%;
  }

  .book_item > .action > button.red {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  h2{
    font-size: 18px;
  }

  .header-wrap {
    font-size: 16px;
    padding: 15px 10px;
  }

  .header-wrap > h1 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .header-wrap img.book-icon {
    width: 50px;
    height: auto;
    margin: 0;
  }

  .header-wrap p {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 5px;
    padding: 12px;
  }

  .navbar p {
    font-size: 12px;
    margin: 5px 0;
  }

  main {
    padding: 25px;
  }

  .col {
    width: 100%;
  }

  .add-icon, .search-icon, .agree-icon, .disagree-icon {
    height: 16px;
    width: 12px;
  }

  .article-1, .article-2, .article-3, .article-4 {
    width: 100%;
    max-width: 100%;
    min-height: auto;
  }

  .article-1 > section > form > .input > label {
    font-size: 15px;
  }

  .article-1 > section > form > .input > input {
    font-size: 12px;
  }

  .article-1 > section > form > .form-actions > .checkbox {
    font-size: 15px;
  }

  .article-1 > section > form > .form-actions > button {
    font-size: 15px;
    font-weight: bold;
  }

  .article-2 .book_list .book_item > h3 {
    font-size: 15px;
  }

  .article-2 .book_list .book_item > p {
    font-size: 12px;
  }

  .article-2 .book_list .book_item .action > button {
    font-size: 15px;
    font-weight: bold;
  }

  .article-3 > section > form > label {
    font-size: 15px;
  }

  .article-3 > section > form > input {
    font-size: 12px;
  }

  .article-3 > section > form > button {
    font-size: 15px;
    font-weight: bold;
  }

  .article-3 > section > .book_list h3 {
    font-size: 15px;
  }

  .article-3 > section > .book_list .search,
  .article-3 > section > .book_list .not-found,
  .article-3 > section > .book_list .author,
  .article-3 > section > .book_list .year,
  .article-3 > section > .book_list .ket,
  .article-3 > section > .book_list .ket span {
    font-size: 12px;
  }

  .article-3 > section > .book_list .text-muted {
    font-size: 10px;
  }

  .article-4 .book_list .book_item > h3 {
    font-size: 15px;
  }

  .article-4 .book_list .book_item > p {
    font-size: 12px;
  }

  .article-4 .book_list .book_item .action > button {
    font-size: 15px;
    font-weight: bold;
  }

  .p-empty {
    font-size: 12px;
    padding: 13px;
    line-height: 2;
  }

  .green, .red {
    width: 100%;
  }

  .book_item > .action > button.red {
    margin-top: 10px;
  }

  footer {
    font-size: 15px;
  }
}